version: '3.8'

services:
  bot:
    build: .
    container_name: pelikan-bot
    restart: unless-stopped
    env_file:
      - .env
    command: python main.py
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
